.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .imageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image{
    width: 100%;
    height: auto;
  }

  .buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .prevButton,
  .nextButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
    font-size: 1rem;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .prevButton:hover,
  .nextButton:hover {
    background-color: rgba(0, 0, 0, 0.532);
  }
  
