.singleProduct{
    padding: 80px 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    
    /* background-color: rgba(242, 242, 242, 0.664); */
    margin-bottom: 20px;
}
.singleProduct .left .mainImage{
    width: 100%;
    margin-bottom: 7px;
}
.singleProduct .left .mainImage img{
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
}

.singleProduct .left .thumbs{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;

}
.singleProduct .left .thumbs img{
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;

}
.singleProduct .right h1{
font-weight: 500;
margin-bottom: 8px;
letter-spacing: 1px;
}
.singleProduct .right .productBrand{
    color: rgb(63, 63, 63);
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 5px;
    cursor: pointer;
}
.singleProduct .right .stars{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.singleProduct .right .stars li{
    margin-right: 5px;
    font-size: 23px;
    color: gold;
}
.singleProduct .right .prices{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.singleProduct .right .prices p:nth-child(1){
    color: var(--primary-color);
    font-weight: 600;
    font-size: 30px;
    margin-right: 20px;
}
.singleProduct .right .prices p:nth-child(2){
    text-decoration: line-through;
    color: gray;
    font-weight: 500;
}
.singleProduct .right .color{
font-weight: 600;
letter-spacing: 1px;
word-spacing: 10px;
font-size: 18px;
margin-bottom: 20px;
}
.singleProduct .right .sizeOptions{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px;
    margin-bottom: 30px;
}
.singleProduct .right .sizeOptions select{
    outline: none;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    color: var(--primary-color);
    letter-spacing: 1px;
    border: 1px solid var(--primary-color);
    background-color: white;

}
.singleProduct .right .sizeOptions select option{
    font-weight: 600;
    color: var(--primary-color);
}
.singleProduct .right .sizeOptions button{
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s;
}
.singleProduct .right .sizeOptions button:hover{
    letter-spacing: 2px;
}

.singleProduct .right .offers{
    margin-bottom: 30px;
    font-weight: 500;
}
.singleProduct .right .offers p{
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.singleProduct .right .offers p span:nth-child(1){
    margin-right: 8px;
    font-size: 15px;
    margin-top: 5px;
}
.singleProduct .description {
    margin-top: 10px;
    text-align: justify;
    font-size: 15px;
    position: relative;

}

.singleProduct .description .truncated {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5.7em;


}
.truncated:before {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 4em; /* Height of the blur effect */
    pointer-events: none;
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0));
    transition: opacity .3s cubic-bezier(.39,.575,.565,1);
}


.singleProduct .readMoreButton {
    margin-top: 10px;
    width: 80px;
    color: black;
    border-bottom: 2px solid black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.singleProduct .readMoreButton:hover{
    opacity: 0.5;
}

.singleProduct .right .description h3{
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}
.singleProduct .right .description p{
    margin-bottom: 5px;
    line-height: 1.5;

}

@media screen and (max-width:1250px) {
    .singleProduct .left .thumbs{
        grid-template-columns: repeat(3,1fr);
    
    }
    .singleProduct .left .mainImage{
        /* height: 400px; */
    }
}

@media screen and (max-width:950px) {
    .singleProduct{
        padding: 80px 2rem;
    }
}
@media screen and (max-width:800px) {
    .singleProduct{
        /* padding: 80px 2rem; */
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:650px) {
    .singleProduct{
        padding: 80px 1rem;

    }
}